@import url("https://fonts.googleapis.com/css?family=Nunito");
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

$primary: #cd1007;
$light-primary: #fae7e6;
$black: #140201;
$fa-font-path: "../webfonts";

html {
    font-size: 62.5%;
}

.login-container {
    padding: 0 5rem;
    min-height: 100vh;
}

.login-col-1 {
    background: url("../../public/images/Orderya.png");
}

.swal2-popup {
    font-size: 1.6rem !important;
    font-family: Georgia, serif;
}

.welcome-title {
    font-size: 3rem;
}

.side-list-item:hover {
    background: $light-primary;
    cursor: pointer;
    border-left: 0.4rem solid $primary;
}

.side-list-item {
    position: relative;
}

.side-link,
.icon-link {
    color: $black;
}

.side-list-item:hover .side-link,
.side-list-item:hover .icon-link {
    color: $primary;
}

.home-navbar {
    width: 75%;
}

@media only screen and (min-width: 992px) {
    .home-navbar {
        width: 50%;
    }
    .home-about-title {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 768px) {
    .home-heroes-container {
        padding: 5rem;
    }
}

.home-intro-title {
    font-size: 4rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 5rem !important;
    height: 5rem !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.carousel-caption {
    z-index: 999;
}

.home-about-title {
    width: 10rem;
    font-size: 3rem;
}

@import "variables";

@import "~bootstrap/scss/bootstrap";
