@import url("https://fonts.googleapis.com/css?family=Nunito");
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

$dark-primary: #900b05;
$primary: #cd1007;
$light-primary: #fae7e6;
$black: #140201;
$fa-font-path: "../webfonts";

html {
    font-size: 62.5%;
}

.login-container {
    padding: 0 5rem;
    min-height: 100vh;
}

.login-col-1 {
    background: url("../../public/images/Orderya.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.swal2-popup {
    font-size: 1.6rem !important;
    font-family: Georgia, serif;
}

.welcome-title {
    font-size: 3rem;
}

.side-list-item {
    position: relative;
    border: 0;
    padding: 1rem 0 1rem 3rem !important;
    border-left: 0.8rem solid transparent;
}

.side-list-item:hover,
.active {
    background: $light-primary;
    cursor: pointer;
    border-left-color: $dark-primary;
}

.side-list-item,
.icon-link {
    color: $black;
}

.side-list-item:hover i,
.active,
.active i {
    color: $dark-primary !important;
}

.home-navbar {
    width: 75%;
}

.home-intro-title {
    font-size: 4rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 5rem !important;
    height: 5rem !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.carousel-caption {
    z-index: 999;
}

.home-about-title {
    width: 10rem;
    font-size: 3rem;
}

.login-button,
.logout-button {
    width: 25%;
}

.sidebar {
    width: 100% !important;
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
}

.card-details .card-body {
    padding: 2rem 1rem !important;
}

@media only screen and (min-width: 992px) {
    .home-navbar {
        width: 50%;
    }
    .home-about-title {
        font-size: 4rem;
    }
    .sidebar {
        width: 20rem !important;
        position: fixed;
        top: 0;
        bottom: 0;
    }
    .sidebar,
    .sidebar .list-group {
        min-height: 100vh;
    }
    .sidebar img {
        width: 100% !important;
    }

    .dashboard-col-2 {
        margin-left: 20rem;
    }
    .login-button,
    .logout-button {
        width: 10%;
    }
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: white; // Choose your own color here
}

.btn-back {
    width: 18rem !important;
}

.btn-print {
    width: 12rem !important;
}

.table-control {
    width: 10rem !important;
}

.category-card .card-img {
    object-fit: cover;
    transition: all 0.3s;
}

.category-card .card-img-overlay {
    background: rgba(0, 0, 0, 0.4);
}

.category-card {
    overflow: hidden;
}

.category-card:hover {
    cursor: pointer;
}

.category-card:hover .card-img {
    transform: scale(1.2);
    pointer-events: none;
}

.category-container .card-img-top {
    object-fit: cover;
}

.category-container .jumbotron-card-title {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 2.5rem;
    margin-top: -3rem;
}

.menu-card {
    transition: all 0.3s;
}

.menu-card .card-img-top,
.cart-item .card-img-top {
    object-fit: cover;
}

.menu-card:hover {
    box-shadow: 0 1rem 3rem rgb(20 2 1 / 18%) !important;
}

.menu-card:hover .card-img-top {
    cursor: pointer;
}

.menu-card input::-webkit-outer-spin-button,
.menu-card input::-webkit-inner-spin-button,
.card-details input::-webkit-inner-spin-button,
.card-details input::-webkit-outer-spin-button,
.cart-item input::-webkit-inner-spin-button,
.cart-item input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-item i:hover {
    cursor: pointer;
}

// @media only screen and (min-width: 992px) {
//     .cart-item .card-img-top {
//         max-width: 20%;
//     }
// }

@media only screen and (max-width: 768px) {
    .home-heroes-container {
        padding: 5rem;
    }
}
@import "variables";

@import "~bootstrap/scss/bootstrap";
